@import '../../../theme/theme';

.LogoHolder {
    width: 180px;
    cursor: pointer;
    display: none;
    flex-direction: row;
    height: 60px;

    @include breakpoint(md) {
        display: flex;
    }

    > img {
        max-height: 100%;
        max-width: 120px;
        padding: $grid_1x;
        margin: 0;


        &:first-child {
            position: relative;
            top: 5px;
        }
    }
}

.ThemeCheck{
    span {
        color: var(--primary);
    }
    @include breakpoint(md) {
        order: 3;
        display: flex;
        width: 120px;
        justify-content: flex-end;
    }
}

.NavLink {
    text-decoration: none;
    font-weight: bold;

    &:hover {
        text-decoration: none;
        color: var(--color)
    }
}

.SvgIconLogo {
    width: 100%;
    path {
        fill: var(--primary);
    }
}
