
.row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-self: center;
    width: 80%;
        @include breakpoint(md){
            width: 100%;
        }
    &--between{
        justify-content: space-between;
    }
    &--around{
        justify-content: space-around;
    }

    @include breakpoint(md){
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    &--clean{
        margin-top: 0;
        margin-bottom: 0;
        border-bottom: none;
        padding-bottom: 0;
    }

    &--centered{
        justify-content: center;
    }

    &--full{
        width: 80vw;
        @include breakpoint(md){
            width: 100vw;
        }
        align-items: center;

        background-color: adjust-color($color: $color-primary, $alpha: -0.98 );
    }
}