.menu {
    width: 100vw;
    display: flex;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 10px;
    background: $color-primary;
    align-items: center;

    >ul {
        margin: 0;
        list-style-type: none;
        display: flex;
        justify-content: space-evenly;
        width: 100vw;

        @include breakpoint(md) {
            width: 400px;
        }
        >li>a {
            text-decoration: none;
            font-size: 1rem;
            font-weight: 600;
            font-family: $bodyfont;
            display: flex;
            color: $font-theme-dark;
        }
    }
}
