@import '../../theme/theme';

.Menu {
    display: flex;
    background: $color-primary;
    align-items: center;

    >ul {
        margin: 0;
        list-style-type: none;
        display: flex;
        width: 100vw;

        @include breakpoint(md) {
            width: 400px;
        }
        >li>a {
            margin-left: $grid_4x;
            text-decoration: none;
            font-size: 1rem;
            font-weight: 500;
            font-family: "Helvetica Neue", sans-serif;
            display: flex;
            color: white;
        }
    }
}
