@import '../../../theme/theme';

%header {
    background: $theme;
    display: flex;

    >  :global(.header-holder) {
        padding:  0.45rem 1.0875rem;
        max-width: 960px;
        display: flex;
        margin: 0 auto;
        width: 960px;
        justify-content: space-between;
    }
}

.theme {
    @extend %header;
    @include breakpoint(lg) {
        padding: $grid_4x;
    }
}

.LogoHolder {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    height: 60px;

    > img {
        max-height: 100%;
        display: none;
        max-width: 120px;
        padding: $grid_1x;
        margin: 0;
        @include breakpoint(md) {
            display: initial;
        }

        &:first-child {
            position: relative;
            top: 5px;
        }
    }
}
