@import '../../../theme/theme';

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    p {
        font-family: $font-family-secondary;
        margin-bottom: 0px;
        margin-top: $grid_2x;
    }
}

.socialMenu {
    display: flex;
    width: 400px;
    justify-content: space-around;
    padding-top: $grid_4x;
    margin-bottom: $grid_4x;
    max-width: 100%;
    margin: 0 auto;

    >a {
        color: $color-primary;
    }

    >a:visited {
        color: $color-primary;
    }
}
