@import '../../../theme/theme';

.Button {
	border: 2px solid transparent;
	border-radius: 4px;
	background-color: $theme;
	border-color: $color-primary;
	color: $color-primary;

	
	transition: 0.3s;
	
	cursor: pointer;
	font-family: $font-family-primary;
	font-weight: bold;
	letter-spacing: 1.5px;
	margin-bottom: $grid_2x;
	margin-top: $grid_2x;
	max-width: 150px;
	padding: 0.6rem;
	text-decoration: none;
	text-transform: capitalize;
	user-select: none;

	&:hover {
		font-weight: bold;
		color:  white;
		border-color: white;
	}
}
