@import '../../../theme/theme';

.PricingPlan {

    align-items: center;
    height: 100%;
    background-color: var(--bg-highlight);

    @include breakpoint(xs){
       width: 90%;
    }
    @include breakpoint(md) {
        padding-left: 8px;
        padding-right: 8px;
        width: 32%;
    }

    @include breakpoint(xl) {
        width: 28%;
        padding-left: 2%;
        padding-right: 2%;
    }

}

.PlanFeature {

    p {
    font-size: 1rem;
        margin: 0;
    }

    svg {
        width: 20px;
        margin: 0;
    }
}

.Hover {
    position:relative;

    @include breakpoint(md) {

    }
}
