@import '../../../theme/theme';

.main {
  flex-grow: 1;
}

.Content {
  margin: 0 auto;
  max-width: $web-page-width;
  padding: 0 5% 1.45rem;
  display: flex;
  flex-direction: column;
  @include breakpoint(md){
    padding: 0 30px 1.45rem;
  }
}

main {
  min-height: 75vh;
}