@import '../../../theme/theme';

.main {
  flex-grow: 1;
}

.Content {
  margin: 0 auto;
  max-width: $web-page-width;
  padding: 0px 1.0875rem 1.45rem;
  padding-top: 0;
  display: flex;
  flex-direction: column;
}

main {
  min-height: 70vh;
}

$background-color: var(--bg);
:global .alternating-row {
  > :nth-child(even){
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
    background-color: var(--bg-highlight);
  }
}
