@import '../../../theme/theme';

.ContactForm {
	@include breakpoint(xs) {
		width: 420px;
	}
    font-size: 1rem;
	display: flex;
	flex-direction: column;
	font-family: $font-family-primary;
	margin: 0 auto;
	max-width: 90vw;
	padding-bottom: 40px;
	width: 100%;

	:global .form-group > input {
		background: $theme;
	}

	:global .form-group {
		display: flex;
		flex-direction: column;
		margin-bottom: 1.2rem;
		margin-top: 1.2rem;
	}

	:global .form-group > textarea {
		background: $theme;
		max-width: 100%;
		resize: vertical;
	}
}
