.item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    svg {
        align-self: center;
        color: $color-primary;
        height:30px;
        width: 30px;
        margin-bottom: 15px;
    }

    &--review {
        align-items: center;
        height: fit-content;
        img {
            height:100px;
            width:100px;    
        }
        p {
            font-size: 0.8rem;
        }
    }
}