@import '../../theme/theme';

.Icon {
    display: flex;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;

    > svg {
        width: 60px;
        height: 60px;
    }
}

:global .round {
    border-radius: 40px;
}

:global .primary {
    background-color: $color-primary;

    > svg > path {
        color: white;
    }
}
