

// Default Backgrounds colors
$theme-dark: black;
$theme-light: white;

// Default fonts colors
$font-theme-dark : white;
$font-theme-light : black;

// The actual values we will use when using the colors
$font-color : white;
$font-color-matching-theme : black;

$theme-purple: #7B68FA;
$themered: #ee5253;
$themeyellow: #feca57;
$themeblue: #273c75;
$themegray :#2f3640;
$themepurple: #6F1E51;

// Primary
$color-primary: $theme-purple;
$color-secondary-green: #46B041;
