$color-primary: #7B68FA;
$color-secondary-green: #46B041;

$theme-dark: black;
$theme-light: white;

$font-theme-dark : white;
$font-theme-light : black;

$theme-purple: #7B68FA;
$themered: #ee5253;
$themeyellow: #feca57;
$themeblue: #273c75;
$themegray :#2f3640;
$themepurple: #6F1E51;