$dark-gray: #353535;

$theme-purple: #7B68FA;
$neon-pink-red: #fe013a;
$themered: #A71930;
$themeyellow: #feca57;
$themeblue: #273c75;
$themegray :#2f3640;
$themepurple: #6F1E51;

// Primary
$color-primary: $neon-pink-red;
$color-secondary-green: #46B041;

