// Directional

:global .primary {
  color: $color-primary;
}

// Arrangement
:global .clean {
  border-bottom: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
}

// Alternating rows

@mixin even() {
  > :nth-child(even) {
    @content
  }
}

@mixin odd() {
  > :nth-child(odd) {
    @content
  }
}

@mixin default-background($mobileOnly) {
  @if $mobileOnly {
    @include breakpoint(md) {
      background-color: transparent;
    }
  }
}

//region Alternating Row
@mixin alternating-row-setup() {
  background-color: var(--bg-highlight);
}

@mixin alternating-row($parity, $mobileOnly: false) {

  @if $parity==odd {
    @include odd() {
      @include default-background($mobileOnly);
      @include alternating-row-setup();
    }
  } @else {
    @include even() {
      @include default-background($mobileOnly);
      @include alternating-row-setup();
    }
  }
}

:global .alternating-row {
  @include alternating-row(even)
}

:global .alternating-row-odd {
  @include alternating-row(odd)
}

:global .active-class {
  color: var(--color);
}

:global .alternating-row-md {
  @include alternating-row(even, true)
}


:global .alternating-row-odd-md {
  @include alternating-row(odd, true)
}

:global .w-75-100 {
  width: 100%;
  @include breakpoint(md) {
    width: 75%;
  }
}

:global .w-100-vw {
  width: 100%;
  @include breakpoint(md) {
    width: 100vw;
  }
}

//endregion
