@import "colors";

@import "colors";

@import "~blueprint-components-react/src/styles/_theme.scss";

@import "dimens";

@import "scss_defaults/box_shadow";
@import "scss_defaults/screen_sizes";

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700');

$font-family-primary: Montserrat, Verdana, serif;
$font-family-secondary: Roboto, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
$font-family-sans-serif: $font-family-primary;
$font-family-base: $font-family-secondary;

$bodyfont : $font-family-primary;

$alt-font: Helvetica Neue, sans-serif;

$theme: $theme-light;

@if $theme==$theme-light {
    $font-color : $font-theme-light;
    $font-color-matching-theme: $theme-light;
}

@else {
    $font-color : $font-theme-dark;
    $font-color-matching-theme: $theme-dark;

}

body {
    background-color: $theme;
    font-family: $bodyfont;
}


* {
    color: $font-color;
}
