$font-family-primary: Quicksand, sans-serif;
$font-family-secondary: Roboto, sans-serif;

@import "colors";
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

@import "dimens";

@import "scss_defaults/box_shadow";
@import "scss_defaults/screen_sizes";

$dark-blue-bg: #0a1527;

$theme: $dark-blue-bg;

body {
    background-color: $theme;
    font-family: $font-family-secondary;
}

$default-font-color:#666666;
$font-color: white;

* {
    color: $font-color;
}

// Directional

:global .row {
    flex-direction: row;
}

:global .column {
    flex-direction: column;
}

// Shadows

:global .shadow {
    @include box_shadow(6);
}

:global .shadow:hover {
    @include box_shadow(3);
}

// Spacing

:global .padding-3-x {
    padding-left: $grid_3x;
    padding-right: $grid_3x;
}

// Arrangement

:global .text-center{
    text-align: center;
}