$font-family-primary: Quicksand, sans-serif;
$font-family-secondary: Roboto, sans-serif;

$web-page-width: 960px;
$dark-green-blue: #05386B;
$deep-blue-bg: #0c0032;

$dark-blue-bg: #0a1527;
$light-bg: #EEE2DC;

$theme-dark: $dark-blue-bg;
$theme-light: $light-bg;

$font-color-dark: $deep-blue-bg;
$font-color-light: $light-bg;


@import "colors";

@import "dimens";

@import "scss_defaults/box_shadow";
@import "scss_defaults/screen_sizes";

@import "globals";

body {
    font-family: $font-family-secondary;
    --primary: #{$color-primary};
    background-color: var(--bg);
}

body.dark {
    --bg: #{$theme-dark};
    --color: #{$font-color-light};
    --bg-highlight: #{lighten($theme-dark,2%)};
    --bg-highlight-strong: #{darken($theme-dark,10%)};
    --theme-images-opacity: 0.3;
    color: var(--color);
}

body.light {
    --bg: #{darken($theme-light,3%)};
    --color: #{$font-color-dark};
    --bg-highlight: #{darken($theme-light,1%)};
    --bg-highlight-strong: #{darken($theme-light,5%)};
    --theme-images-opacity: 0.6;
    color: var(--color);
}
