@import '../../../theme/theme';

.Image {
  width:100% !important;
  min-width: 100%;
  min-height: 400px;
  @include breakpoint(md){
    min-width: 350px;
  }

  :global &--transparent {
    opacity: var(--theme-images-opacity);
    -webkit-transition: opacity 500ms linear;
    -ms-transition: opacity 500ms linear;
    transition: opacity 500ms linear;
  }
}
