%header {
    background: $color-primary;
    display: flex;

    >.header-holder {
        visibility: hidden;

        @include breakpoint(md) {
            visibility: visible;
        }

        a {
            color: $font-color-matching-theme;
        }
    }
}

.theme {
    @extend %header;
}