%header {
    background: $color-primary;
    display: flex;

    >.header-holder {
        visibility: hidden;

        @include breakpoint(md) {
            visibility: visible;
        }

        a {
            color: $font-color-matching-theme;
        }
    }
}

.theme {
    @extend %header;
    @include breakpoint(md) {
        padding: $grid_4x;
    }
    .header-holder {
        display: none;
        @include breakpoint(md) {
            display: initial;
        }
    }
}
