@import '../../theme/theme';

%header {
    background: $theme;
    display: flex;

    >  :global(.header-holder) {
        padding:  0.45rem 1.0875rem;
        max-width: 960px;
        display: flex;
        margin: 0 auto;
        width: 960px;
        justify-content: space-between;

        @include breakpoint(md) {
            visibility: visible;
        }

        h3 > a {
            color: $color-primary;
            text-decoration: none;
        }
    }
}

.theme {
    @extend %header;
    @include breakpoint(lg) {
        padding: $grid_4x;
    }
    > :global(.header-holder) > a > img {
        display: none;
        width: 120px;
        padding: $grid_1x;
        @include breakpoint(md) {
            display: initial;
        }
    }
}
