footer {
    display: flex;
    margin-top: 2.90rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.socialMenu {
    display: flex;
    width: 400px;
    justify-content: space-around;
    max-width: 100%;
    margin: 0 auto;

    >a {
        color: $color-primary;
    }

    >a:visited {
        color: $color-primary;
    }
}
