@import '../../../theme/theme';

.ContactForm {
	@include breakpoint(xs) {
		width: 420px;
	}

	font-size: 1rem;
	display: flex;
	flex-direction: column;
	font-family: $font-family-primary;
	margin: 0 auto;
	max-width: 90vw;
	padding-bottom: 40px;
	width: 100%;

	input {
		transition: background-color 50000s, color 50000s, filter 50000s
	}

	@keyframes onautofillstart {
		from {}
	}

	@keyframes onautofillcancel {
		from {}
	}

	input:-webkit-autofill {

		animation-duration: 50000s;

		animation-name: onautofillstart;

	}

	input:not(:-webkit-autofill) {

		animation-duration: 50000s;

		animation-name: onautofillcancel;

	}

	input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus,
	input:-webkit-autofill:active {
		transition: background-color 999999s ease-in-out 999999s;
		background: $theme !important;
		color: white !important
	}

	input:-webkit-autofill {
		caret-color: white;
		-webkit-text-fill-color: white;
	}

	:global .form-group>input {
		-webkit-box-shadow: 0 0 0 1000px white inset;
		background: $theme;
	}

	:global .form-group {
		display: flex;
		flex-direction: column;
		margin-bottom: 1.2rem;
		margin-top: 1.2rem;
	}

	:global .form-group>textarea {
		background: $theme;
		max-width: 100%;
		resize: vertical;
	}
}