@import '../../../theme/theme';

.ContactForm {
	@include breakpoint(xs) {
		width: 420px;
	}

	font-size: 1rem;
	display: flex;
	flex-direction: column;
	font-family: $font-family-primary;
	margin: 0 auto;
	max-width: 90vw;
	padding-bottom: 40px;
	width: 100%;
}
