@import '../../../theme/theme';

.Row {
  align-self: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem $grid_2x $grid_2x;
  width: $web-page-width;

  @include breakpoint(md) {
    padding-bottom: 3rem;
    padding-top: 3rem;
  }
}

.RowHolder {
  justify-content: center;
  align-self: center;
  display: flex;
  width: 100vw;
}

:global .Row--header {
  @include breakpoint(md) {
    padding-bottom: 5rem;
    padding-top: 1rem;
  }
}
