@import '../../../theme/theme';

.Row {
	align-self: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 1rem $grid_2x $grid_2x;
	width: 100%;

	@include breakpoint(md) {
		padding-bottom: 7rem;
		padding-top: 1rem;
	}
}

:global .between {
	justify-content: space-between;
}

:global .around {
	justify-content: space-around;
}

:global .clean {
	border-bottom: none;
	margin-bottom: 0;
	margin-top: 0;
	padding-bottom: 0;
}

:global .centered {
	justify-content: center;
}

:global .full {
	@include breakpoint(md) {
		width: 100vw;
	}
	align-items: center;
	width: 80vw;
}